.container {
    width: 40%;
    margin: 0 auto;
}

.h3 {
    text-align: end;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    letter-spacing:3px ;
}

.baslik {
    display: inline-block;
    color: white;
    border: 1px solid saddlebrown;
    background-color: saddlebrown;
    border-radius: 15px;
    margin: 1rem 0 0 0;
    
}
a:visited{
 color: black;   
}
.sa{
    color: saddlebrown !important;
    margin-left: 1rem;
}
.info{
    width: 50vw;
    margin-left: 420px;
}
.lk{
    font-size: 12px;
    font-style: italic;
    font-weight: bolder;
}